In [8]:
import pandas as pd
df = pd.read_csv('dataset.csv')

In [19]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
# How many people of each race are represented in this dataset? 
df.groupby('race')['race'].count()

race
Black    2
White    3
Name: race, dtype: int64

In [12]:
# What is the average age of men?
df[df['sex']=='Male'][['age']].mean()

45.0

In [20]:
# What is the percentage of people who have a Bachelor's degree?
df['education'].value_counts(normalize=True)['Bachelors'] * 100

60.0

In [29]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
df[(df['education'].isin(['Bachelors', 'Masters', 'Doctorate']))&(df['salary'].isin(['>50K']))][['salary']].count()

salary    0
dtype: int64

In [48]:
# What percentage of people without advanced education make more than 50K?
len(df[(~df['education'].isin(['Bachelors', 'Masters', 'Doctorate']))&(df['salary'].isin(['>50K']))])

0

In [31]:
# What is the minimum number of hours a person works per week?
df['hours-per-week'].min()

13

In [47]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
len(df[(df['hours-per-week']==df['hours-per-week'].min())&(df['salary'].isin(['>50K']))])

0

In [69]:
# What country has the highest percentage of people that earn >50K and what is that percentage?
if len(df[df['salary'].isin(['>50K'])])>0:
    df[df['salary'].isin(['>50K'])].groupby(['native-country'])[['native-country']].value_counts().sort_values(ascending=False).index[0]
else:
    print('No people earn >50k')

No people earn >50k

In [71]:
# Identify the most popular occupation for those who earn >50K in India.
if len(df[df['salary'].isin(['>50K'])])>0:
    df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()
else:
    print('No people earn >50k in India')

No people earn >50k in India